nonebot2>=2.0.0-beta.5
nonebot-adapter-onebot>=2.1
nonebot-plugin-apscheduler>=0.1.2
nonebot-plugin-htmlrender>=0.1.1
beautifulsoup4>=4.10.0
httpx>=0.23.0
lxml>=4.8.0
Pillow>=9.1.0
matplotlib>=3.5.1
pypinyin>=0.46.0
aiofiles>=0.8.0
tortoise-orm>=0.19.2
tqdm>=4.64.0
ruamel.yaml>=0.17.21
ujson>=5.4.0
expandvars>=0.9.0
pywebio>=1.6.2