nonebot2>=2.0.0-beta.4
nonebot-adapter-onebot>=2.0.0-beta.1
nonebot-plugin-apscheduler>=0.1.2
nonebot-plugin-htmlrender>=0.0.4.6
beautifulsoup4>=4.10.0
httpx>=0.23.0
lxml>=4.8.0
Pillow>=9.1.1
matplotlib>=3.5.1
xlsxwriter>=3.0.3
sqlitedict>=2.0.0
aiofiles>=0.8.0
littlepaimon_utils>=1.0.2